@import "../variables/_colors.scss";
@import "../variables/_sizes.scss";
@import "../mixins/_mixins.scss";

// ## LIST VIEW                                      LAYOUT
// ########################################################

.list_wrapper {
  @include flex(column);
  align-items: center;
  flex: 1;
  min-width: 102.4rem;
  width: 100%;
  max-width: 160rem;
}

.list_container {
  @include flex(column);
  align-items: center;
  // width: 102.4rem;
  width: 100%;
  flex: 0;
}