.row-margin-xs {
  margin-top: 0.8rem; }

.row-margin-sm {
  margin-top: 1.3rem; }

.row-margin-md {
  margin-top: 2.1rem; }

.row-margin-lg {
  margin-top: 3.4rem; }

.row-margin-xl {
  margin-top: 5.5rem; }

.list_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  min-width: 102.4rem;
  width: 100%;
  max-width: 160rem; }

.list_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  flex: 0; }

.list_subnav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex: 0;
  width: 100%;
  padding-top: 3.2rem;
  padding-right: 1.6rem;
  padding-left: 1.6rem;
  box-sizing: border-box;
  user-select: none;
  font-size: 1.4rem;
  line-height: 1.4rem;
  font-weight: 700;
  color: #dd0426; }

a.list_subnav_link:link {
  color: #dd0426;
  text-decoration: none; }

a.list_subnav_link:visited {
  color: #dd0426; }

a.list_subnav_link:hover {
  color: #000; }

a.list_subnav_link:active {
  color: #dd0426; }

.list_subnav_menu-spacer {
  margin-left: 1.6rem;
  margin-right: 1.6rem;
  color: #b3b3b3; }

button.list_subnav_link {
  outline: none;
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex: 0;
  width: 100%;
  box-sizing: border-box;
  white-space: nowrap;
  user-select: none;
  font-size: 1.4rem;
  line-height: 1.4rem;
  font-weight: 700;
  color: #dd0426; }

button.list_subnav_link:visited {
  color: #dd0426; }

button.list_subnav_link:hover {
  color: #000; }

button.list_subnav_link:active {
  color: #dd0426; }

.list_search {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 80rem;
  padding-top: 3.2rem;
  position: relative; }

.list_search-input {
  width: 100%;
  height: 4.8rem;
  padding-left: 1.6rem;
  box-sizing: border-box;
  font-size: 1.4rem;
  line-height: 1.4rem;
  font-weight: 400;
  box-shadow: none;
  -webkit-appearance: none; }

.list_search-input::placeholder {
  color: #b3b3b3; }

.list_search-icon {
  position: absolute;
  top: 5.0rem;
  right: 1.6rem;
  font-size: 1.4rem;
  line-height: 1.4rem;
  color: #b3b3b3; }

.list_pagination {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 4.8rem;
  flex: 0;
  padding: 0 1.6rem 0 1.6rem;
  box-sizing: border-box;
  user-select: none;
  font-size: 1.4rem;
  line-height: 1.4rem; }

.list_pagination-divider {
  flex: 1; }

.list_pagination-pageInfo {
  display: flex;
  flex-direction: row;
  flex: 0; }

.list_pagination-dash {
  font-weight: 400; }

.list_pagination-pad {
  padding: 0 0.4rem 0 0.4rem;
  font-weight: 400; }

.list_pagination-number {
  font-weight: 700; }

.list_pagination li {
  padding: 0 0.4rem 0 0.4rem;
  min-width: 2.9rem; }

.list_pagination-controls {
  display: flex;
  flex-direction: row;
  list-style: none;
  flex: 0; }

.list_pagination-buttons {
  display: flex;
  flex-direction: row;
  flex: 0; }

.list_pagination-pages {
  display: flex;
  flex-direction: row;
  flex: 1; }

.list_pagination button {
  outline: none;
  background: none;
  border: none; }

.list_pagination button:hover {
  color: #dd0426; }

.list_pagination button:active {
  color: #dd0426; }

.list_pagination-active button {
  font-weight: 700;
  color: #dd0426; }

.list_pagination-active button:hover {
  color: #dd0426;
  cursor: default; }

.list_pagination-inactive button {
  color: #b3b3b3; }

.list_pagination-inactive button:hover {
  color: #b3b3b3;
  cursor: not-allowed; }

#list_results {
  width: 100%;
  font-size: 1.4rem;
  line-height: 1.4rem;
  border-radius: 0.4rem 0.4rem 0.4rem 0.4rem;
  box-shadow: 0 0.1rem 0.1rem #e5e5e5;
  border: 0.1rem solid #e5e5e5; }

.list_results-table {
  width: 100%;
  border-collapse: collapse;
  color: #808080; }

.list_results-table th, .list_results-table td {
  height: 3.2rem;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  box-sizing: border-box;
  text-align: center;
  border-bottom: 0.1rem solid #e5e5e5; }

.list_results-table tr:nth-child(odd) {
  background-color: #fff; }

.list_results-table th {
  height: 4.8rem; }

.list_results-table th {
  font-weight: 400;
  background-color: #b3b3b3; }

.list_results-notsorted {
  white-space: nowrap;
  font-weight: 400;
  color: #fff; }

.list_results-sorted {
  font-weight: 700;
  color: #dd0426; }

a.list_result-link:link {
  font-weight: 400;
  color: #1A1A1A;
  text-decoration: none; }

a.list_result-link:hover {
  color: #dd0426; }

a.list_result-link:visited {
  color: #1A1A1A; }

a.list_result-link:active {
  color: #1A1A1A; }

.table_link-clickable {
  text-decoration: none; }

.table_link-clickable:link {
  color: #000; }

.table_link-clickable:visited {
  color: #000; }

.table_link-clickable:hover {
  color: #dd0426; }

.table_link-clickable:active {
  color: #dd0426; }

.list_results-actions {
  outline: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: #b3b3b3; }

.list_results-actions-button {
  cursor: pointer;
  outline: none; }

.list_results-actions-icon {
  height: 100%;
  width: 100%;
  font-size: 1.0rem;
  user-select: none; }

.list_results-actions-menu {
  outline: none;
  position: absolute;
  right: 5.3rem;
  transform: translateY(6.6rem);
  width: 16rem;
  font-size: 1.4rem;
  line-height: 1.4rem;
  color: #1A1A1A;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  box-shadow: 0 0.3rem 0.3rem 0 rgba(0, 0, 0, 0.1);
  padding: 0.8rem 0.8rem 0 0.8rem;
  z-index: 1; }

.list_results-actions-menu ul {
  outline: none;
  list-style-type: none;
  margin: 0;
  padding: 0; }

.list_results-actions-menu li {
  outline: none;
  padding-top: 0.4rem;
  padding-bottom: 1.6rem;
  padding-left: 0.4rem;
  text-align: left;
  display: block; }

.list_results-actions-menu div {
  outline: none; }

.list_results-actions-menu a:link {
  text-decoration: none;
  color: #1A1A1A; }

.list_results-actions-menu a:visited {
  color: #1A1A1A; }

.list_results-actions-menu a:hover {
  color: #dd0426; }

.list_results-actions-menu a:active {
  color: #dd0426; }
