@import "../variables/_colors.scss";
@import "../variables/_sizes.scss";
@import "../mixins/_mixins.scss";

// ## LIST VIEW                                      LAYOUT
// ########################################################

.list_wrapper {
  @include flex(column);
  align-items: center;
  flex: 1;
  min-width: 102.4rem;
  width: 100%;
  max-width: 160rem;
}

.list_container {
  @include flex(column);
  align-items: center;
  // width: 102.4rem;
  width: 100%;
  flex: 0;
}

// ## LIST VIEW                                     SUB NAV
// ########################################################

.list_subnav {
  @include flex(row);
  @include flex-center;
  flex: 0;
  width: 100%;
  padding-top: $xl;
  padding-right: $md;
  padding-left: $md;
  box-sizing: border-box;
  user-select: none;
  font-size: $font-xl;
  line-height: $font-xl;
  font-weight: $fw-heading;
  color: $adam-red;
}

// NavLink (Add a new Record)
a.list_subnav_link:link {
  color: $adam-red;
  text-decoration: none;
}
a.list_subnav_link:visited {
  color: $adam-red;
}
a.list_subnav_link:hover {
  color: $adam-black;
}
a.list_subnav_link:active {
  color: $adam-red;
}

.list_subnav_menu-spacer {
  margin-left: $md;
  margin-right: $md;
  color: $adam-sub-heading;
}

// Show Inactive/All
button.list_subnav_link {
  outline: none;
  background:none;
  border:none;
  margin: 0;
  padding: 0;
  @include flex(row);
  @include flex-center;
  flex: 0;
  width: 100%;
  box-sizing: border-box;
  white-space: nowrap;
  user-select: none;
  font-size: $font-xl;
  line-height: $font-xl;
  font-weight: $fw-heading;
  color: $adam-red;
}

button.list_subnav_link:visited {
  color: $adam-red;
}
button.list_subnav_link:hover {
  color: $adam-black;
}
button.list_subnav_link:active {
  color: $adam-red;
}

// ## LIST VIEW                                SEARCH INPUT
// ########################################################

.list_search {
  @include flex(row);
  @include flex-center;
  width: 80rem;
  padding-top: $xl;
  position: relative;
}

.list_search-input {
  width: 100%;
  height: $row-height-md;
  padding-left: $md;
  box-sizing: border-box;
  font-size: $font-xl;
  line-height: $font-xl;
  font-weight: $fw-md;
  box-shadow: none;
  -webkit-appearance: none;
}

.list_search-input::placeholder {
  color: $adam-sub-heading;
}

.list_search-icon {
  position: absolute;
  top: 5.0rem;
  right: $md;
  font-size: $font-xl;
  line-height: $font-xl;
  color: $adam-sub-heading;
}

// ## LIST VIEW                         PAGINATION CONTROLS
// ########################################################

.list_pagination {
  @include flex(row);
  align-items: center;
  // @include flex-end;
  width: 100%;
  height: $xxl;
  flex: 0;
  padding: 0 $md 0 $md;
  box-sizing: border-box;
  user-select: none;
  font-size: $font-xl;
  line-height: $font-xl;
}

.list_pagination-divider {
  flex: 1;
}

.list_pagination-pageInfo {
  @include flex(row);
  flex: 0;
}

.list_pagination-dash {
  //padding: 0 $xxs 0 $xxs;
  font-weight: $fw-md;
}

.list_pagination-pad {
  padding: 0 $xxs 0 $xxs;
  font-weight: $fw-md;
}

.list_pagination-number {
  font-weight: $fw-heading;
}

.list_pagination li {
  padding: 0 $xxs 0 $xxs;
  min-width: 2.9rem;
}

.list_pagination-controls {
  @include flex(row);
  list-style: none;
  flex: 0;
}

.list_pagination-buttons {
  @include flex(row);
  flex: 0;
}

.list_pagination-pages {
  @include flex(row);
  flex: 1;
}

.list_pagination button {
  outline: none;
  background:none;
  border:none;
}

.list_pagination button:hover {
  color: $adam-red;
}

.list_pagination button:active {
  color: $adam-red;
}

.list_pagination-active button {
  font-weight: $fw-heading;
  color: $adam-red;
}

.list_pagination-active button:hover {
  color: $adam-red;
  cursor: default;
}

.list_pagination-inactive button {
  color: $adam-sub-heading;
}

.list_pagination-inactive button:hover {
  color: $adam-sub-heading;
  cursor: not-allowed;
}

// ## LIST VIEW                                       TABLE
// ########################################################

#list_results {
  width: 100%;
  font-size: $font-xl;
  line-height: $font-xl;
  border-radius: $xxs $xxs $xxs $xxs;
  box-shadow: 0 $shadow-xxs $shadow-xxs $adam-app-border;
  border: $border-xxs solid $adam-app-border;
}

.list_results-table {
  width: 100%;
  border-collapse: collapse;
  color: $adam-exp-grey;
}

.list_results-table th, .list_results-table td {
  height: $xl;
  padding-top: $xs;
  padding-bottom: $xs;
  box-sizing: border-box;
  text-align: center;
  border-bottom: $border-xxs solid $adam-app-border;
}

.list_results-table tr:nth-child(odd) {
  background-color: $adam-white;
}

.list_results-table th {
  height: $row-height-md;
}

.list_results-table th {
  font-weight: $fw-md;
  background-color: $adam-sub-heading;
}

.list_results-notsorted {
  white-space: nowrap;
  font-weight: $fw-md;
  color: $adam-white;
}

.list_results-sorted {
  font-weight: $fw-heading;
  color: $adam-red;
}

a.list_result-link:link {
  font-weight: $fw-md;
  color: $adam-heading;
  text-decoration: none;
}
a.list_result-link:hover {
  color: $adam-red;
}
a.list_result-link:visited {
  color: $adam-heading;
}
a.list_result-link:active {
  color: $adam-heading;
}

.table_link-clickable {
  text-decoration: none;
}
.table_link-clickable:link {
  color: $adam-black;
}
.table_link-clickable:visited {
  color: $adam-black;
}
.table_link-clickable:hover {
  color: $adam-red;
}
.table_link-clickable:active {
  color: $adam-red;
}

// ## LIST VIEW                                ACTIONS MENU
// ########################################################

.list_results-actions {
  outline: none;
  @include flex(row);
  @include flex-center;
  width: 100%;
  height: 100%;
  color: #b3b3b3;
}

.list_results-actions-button {
  cursor: pointer;
  outline: none;
}

.list_results-actions-icon {
  height: 100%;
  width: 100%;
  font-size: 1.0rem;
  user-select: none;
}

// ReactTable cells are set to overflow: hidden
// This can be changed to `unset` in its CSS
// That is the only reason this is absolute positioned
.list_results-actions-menu {
  outline: none;
  position: absolute;
  right: 5.3rem;
  transform: translateY(6.6rem);
  width: 16rem;
  font-size: $font-xl;
  line-height: $font-xl;
  color: $adam-heading;
  background-color: $adam-white;
  border: 1px solid $adam-app-border;
  box-shadow: 0 $shadow-xs $shadow-xs 0 rgba(0, 0, 0, 0.1);
  padding: $xs $xs 0 $xs;
  z-index: 1;
}

.list_results-actions-menu ul {
  outline: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.list_results-actions-menu li {
  outline: none;
  padding-top: $xxs;
  padding-bottom: $md;
  padding-left: $xxs;
  text-align: left;
  display: block;
}

.list_results-actions-menu div {
  outline: none;
}
.list_results-actions-menu a:link {
  text-decoration: none;
  color: $adam-heading;
}
.list_results-actions-menu a:visited {
  color: $adam-heading;
}
.list_results-actions-menu a:hover {
  color: $adam-red;
}
.list_results-actions-menu a:active {
  color: $adam-red;
}