.row-margin-xs {
  margin-top: 0.8rem; }

.row-margin-sm {
  margin-top: 1.3rem; }

.row-margin-md {
  margin-top: 2.1rem; }

.row-margin-lg {
  margin-top: 3.4rem; }

.row-margin-xl {
  margin-top: 5.5rem; }

.view_container {
  width: 100rem;
  padding: 1.6rem;
  box-sizing: border-box;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 0.4rem 0.4rem 0.4rem 0.4rem;
  box-shadow: 0px 1px 1px #e5e5e5; }

.subnav_title-bold {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  box-sizing: border-box;
  font-weight: 600;
  color: #808080; }

.subnav_active {
  padding-left: 0.8rem;
  box-sizing: border-box;
  color: #3d9720;
  font-weight: 600; }

button.subnav_deactivate {
  outline: none;
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  font-size: 1.4rem;
  line-height: 1.4rem;
  font-weight: 600;
  color: #f0a202;
  text-decoration: none; }

button.subnav_deactivate:hover {
  color: #1A1A1A; }

button.subnav_deactivate:active {
  color: #f0a202; }

.view_heading {
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 600;
  color: #dd0426; }

.view_row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  min-height: 4.8rem; }

.view_row-label {
  width: 33%;
  padding-right: 1.6rem;
  box-sizing: border-box;
  font-size: 1.4rem;
  line-height: 1.4rem;
  text-align: right;
  color: #b3b3b3;
  text-transform: uppercase; }

.view_row-item {
  flex: 1;
  font-size: 1.4rem;
  line-height: 2rem;
  color: #1A1A1A; }

.view_row-item span {
  color: #3f88c5;
  font-weight: 600; }

a.view_link:link {
  font-size: 1.4rem;
  line-height: 1.4rem;
  font-weight: 400;
  color: #dd0426;
  text-decoration: none; }

a.view_link:visited {
  color: #dd0426; }

a.view_link:hover {
  color: #1A1A1A; }

a.view_link:active {
  color: #1A1A1A; }

#view_avatar-container {
  display: flex;
  align-items: center;
  justify-content: center; }

#view_avatar-photo {
  margin-bottom: 1.6rem;
  height: 12.8rem;
  width: 12.8rem;
  border-radius: 50%; }

.view_back {
  margin-top: 3.2rem;
  font-size: 1.4rem;
  line-height: 1.4rem; }

button.view_back-link {
  outline: none;
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  font-size: 1.4rem;
  line-height: 1.4rem;
  font-weight: 400;
  color: #dd0426;
  text-decoration: none; }

button.view_back-link:hover {
  color: #1A1A1A; }

button.view_back-link:active {
  color: #dd0426; }
