.row-margin-xs {
  margin-top: 0.8rem; }

.row-margin-sm {
  margin-top: 1.3rem; }

.row-margin-md {
  margin-top: 2.1rem; }

.row-margin-lg {
  margin-top: 3.4rem; }

.row-margin-xl {
  margin-top: 5.5rem; }

#edit-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 2.4rem;
  padding-left: 2.4rem;
  flex: 1; }

#edit-container {
  width: 100%;
  max-width: 102.4rem; }

#edit_subnav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex: 0;
  width: 100%;
  margin-top: 10rem;
  padding-top: 3.2rem;
  padding-right: 1.6rem;
  padding-left: 1.6rem;
  margin-bottom: -0.4rem;
  box-sizing: border-box;
  user-select: none;
  font-size: 1.4rem;
  line-height: 1.4rem;
  font-weight: 400;
  color: #b3b3b3; }

#edit_subnav_record {
  font-size: 1.4rem;
  line-height: 1.4rem;
  text-align: left; }

#edit_subnav_record-label {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  box-sizing: border-box;
  font-weight: 600;
  color: #fff; }

#edit_subnav_record-status {
  padding-left: 0.8rem;
  box-sizing: border-box;
  color: #3d9720;
  font-weight: 600; }

#edit_subnav-right-side {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  flex: 1; }

#edit_subnav-right-side span {
  padding-right: 0.4rem;
  color: #dd0426; }

.edit_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  box-shadow: -8px 14px 40px 0px rgba(0, 0, 0, 0.5);
  padding-bottom: 16px;
  margin-bottom: 48px;
  flex: 0; }

.edit_section-margin-sm {
  margin-top: 1.3rem; }

.edit_section-margin-lg {
  margin-top: 3.4rem; }

.edit_section_heading {
  display: flex;
  width: 100%;
  padding: 16px;
  margin-bottom: 8px;
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 600;
  letter-spacing: 0.3em;
  color: #fff;
  background-color: #1b1e3d; }

.edit_row-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 16px;
  padding-right: 16px; }

.edit_row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  min-height: 4.8rem;
  margin-top: 0.8rem; }

.edit_row-label {
  width: 33rem;
  padding-right: 1.6rem;
  box-sizing: border-box;
  font-size: 1.4rem;
  line-height: 1.4rem;
  text-align: right;
  letter-spacing: 0.2em;
  color: #b3b3b3; }

.edit_row-item {
  flex: 1; }

.edit_input {
  display: block;
  width: 100%;
  height: 4.8rem;
  padding-left: 1.6rem;
  box-shadow: none;
  -webkit-appearance: none;
  font-size: 1.4rem;
  line-height: 1.4rem;
  font-weight: 400; }

.edit_input::placeholder {
  color: #b3b3b3; }

.edit_input-normal {
  box-sizing: border-box;
  background: transparent;
  border: 0.1rem solid rgba(255, 255, 255, 0.2);
  border-radius: 0;
  outline: 0; }

.edit_input-error {
  box-sizing: border-box;
  background: transparent;
  border-top: 0.1rem solid #dd0426;
  border-bottom: 0.1rem solid #dd0426;
  border-left: 0.1rem solid #dd0426;
  border-right: 0.1rem solid #dd0426;
  outline: 0;
  color: #dd0426;
  background-color: #f8dee0; }

.edit_input-error::placeholder {
  color: #dd0426; }

.edit_checkbox {
  position: relative; }

.edit_checkbox:after {
  content: '';
  position: absolute;
  width: 1.6rem;
  height: 1.6rem;
  margin-top: -0.2rem;
  background-color: #fafafa;
  border: 0.1rem solid #e5e5e5; }

.edit_checkbox:checked:after {
  display: flex;
  justify-content: center;
  align-items: center;
  content: '\002714';
  position: absolute;
  color: #3d9720;
  width: 1.6rem;
  height: 1.6rem;
  margin-top: -0.2rem;
  font-size: 1.4rem;
  background-color: #fafafa;
  border: 0.1rem solid #e5e5e5; }

.edit_select {
  width: 100%;
  height: 4.8rem;
  padding-left: 1.6rem;
  box-shadow: none;
  font-size: 1.4rem;
  line-height: 1.4rem;
  font-weight: 400; }

.edit_select-normal {
  box-sizing: border-box;
  background: transparent;
  border: 0.1rem solid rgba(255, 255, 255, 0.2);
  border-radius: 0;
  outline: 0; }

.edit_select-error {
  box-sizing: border-box;
  background: transparent;
  border-top: 0.1rem solid #dd0426;
  border-bottom: 0.1rem solid #dd0426;
  border-left: 0.1rem solid #dd0426;
  border-right: 0.1rem solid #dd0426;
  outline: 0;
  color: #dd0426;
  background-color: #f8dee0; }

.edit_select-error::placeholder {
  color: #dd0426; }

.edit_textarea {
  display: block;
  width: 100%;
  height: 4.8rem;
  padding-left: 1.6rem;
  box-shadow: none;
  -webkit-appearance: none;
  font-size: 1.4rem;
  line-height: 1.4rem;
  font-weight: 400;
  padding-top: 1.6rem;
  box-sizing: border-box;
  height: 16rem; }

.edit_textarea::placeholder {
  color: #b3b3b3; }

.edit_multi {
  padding-top: 1.6rem;
  box-sizing: border-box;
  height: 16rem; }

.geosuggest__suggests-wrapper {
  position: absolute;
  margin-left: 0; }

.geosuggest__suggests {
  padding: 0;
  box-sizing: border-box;
  box-shadow: 0.4rem 0.4rem 0.4rem #e5e5e5;
  background: transparent;
  border-top: 0.1rem solid #e5e5e5;
  border-bottom: 0.1rem solid #e5e5e5;
  border-left: 0.1rem solid #e5e5e5;
  border-right: 0.1rem solid #e5e5e5;
  border-radius: 0;
  outline: 0;
  background-color: #fafafa;
  cursor: pointer; }

.geosuggest__item {
  list-style-type: none;
  font-size: 1.4rem;
  line-height: 1.4rem;
  padding: 0.8rem 1.6rem 0.8rem 1.6rem;
  margin-left: 0; }

.geosuggest__item--active {
  background: #3f88c5;
  color: #fff; }

.geosuggest__suggests--hidden {
  max-height: 0;
  overflow: hidden;
  border-width: 0; }

.edit_empty {
  color: #b3b3b3; }

.edit_filled {
  color: #fff; }

.edit_selectList {
  color: #1A1A1A; }

.edit_asterisk {
  padding-left: 0.4rem;
  font-size: 1.4rem;
  line-height: 1.4rem;
  font-weight: 700;
  color: #dd0426; }

.edit_required {
  margin-left: 33rem;
  padding-top: 0.8rem;
  padding-left: 0.8rem;
  padding-bottom: 0.8rem;
  font-style: italic;
  font-size: 1.2rem;
  line-height: 1.4rem;
  color: #dd0426; }

#edit_error {
  width: 100%;
  padding: 1.6rem;
  border-top: 0.1rem solid #dd0426;
  border-bottom: 0.1rem solid #dd0426;
  border-left: 0.1rem solid #dd0426;
  border-right: 0.1rem solid #dd0426;
  border-radius: 0.1rem 0.1rem 0.1rem 0.1rem;
  box-sizing: border-box;
  font-size: 1.2rem;
  line-height: 1.2rem;
  color: #dd0426;
  background-color: #f8dee0; }

#edit_error-header {
  font-weight: 700; }

#edit_buttons-container {
  display: flex;
  width: 100%;
  margin-top: 3.2rem; }

#edit_buttons {
  display: flex;
  justify-content: center;
  flex: 1;
  margin-bottom: 64px; }

#edit_button-cancel {
  width: 30rem;
  font-size: 1.4rem;
  line-height: 1.4rem;
  font-weight: 700;
  height: 4.8rem;
  text-decoration: none;
  color: #fff;
  background: none;
  border: 1px solid rgba(255, 255, 255, 0.2);
  letter-spacing: 1px;
  padding: 16px;
  padding-left: 65px;
  padding-right: 65px;
  white-space: nowrap;
  margin-right: 32px; }

#edit_button-cancel:hover {
  color: #000;
  background-color: #e5e5e5;
  transition: background-color 100ms ease-in-out; }

#edit_button-submit {
  width: 30rem;
  font-size: 1.4rem;
  line-height: 1.4rem;
  font-weight: 700;
  height: 4.8rem;
  text-decoration: none;
  color: #fff;
  background-color: #1b1e3d;
  border: none;
  letter-spacing: 1px;
  padding: 16px;
  padding-left: 65px;
  padding-right: 65px;
  white-space: nowrap;
  margin-left: 32px; }

#edit_button-submit:hover {
  color: #000;
  background-color: #e5e5e5;
  transition: background-color 200ms ease-in-out; }
