@import "../../../styles/variables/_colors.scss";
@import "../../../styles/variables/_sizes.scss";
@import "../../../styles/mixins/_mixins.scss";

// ## CREATE                                         LAYOUT
// ########################################################
#create-wrapper {
  @include flex(column);
  align-items: center;
  padding-right: $lg;
  padding-left: $lg;
  flex: 1;
}

#create-container {
  width: 100%;
  max-width: 102.4rem;
}

// CREATE & EDIT FORM                               SUB-NAV
// ########################################################
#create_subnav {
  @include flex(row);
  @include flex-center;
  flex: 0;
  width: 100%;
  margin-top: $nav-height;
  padding-top: $xl;
  padding-right: $md;
  padding-left: $md;
  margin-bottom: -$xxs;
  box-sizing: border-box;
  user-select: none;
  font-size: $font-xl;
  line-height: $font-xl;
  font-weight: $fw-md;
  color: $adam-sub-heading;
}

#create_subnav-title {
  font-size: $font-xl;
  line-height: $font-xl;
  text-align: left;
}

#create_subnav-right-side {
  @include flex(row);
  @include flex-end;
  flex: 1;
}

#create_subnav-right-side span {
  padding-right: $xxs;
  color: $adam-red;
}

// ## CREATE                                       SECTIONS
// ########################################################
.create_section {
  @include flex(column);
  align-items: center; // width: 102.4rem;
  width: 100%;
  box-shadow: -8px 14px 40px 0px rgba(0, 0, 0, 0.5);
  padding-bottom: 16px;
  margin-bottom: 48px;
  flex: 0;
}

.create_section-margin-sm {
  margin-top: 1.3rem;
}

.create_section-margin-lg {
  margin-top: 3.4rem;
}

.create_section_heading {
  display: flex;
  width: 100%;
  padding: 16px;
  margin-bottom: 8px;
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 600;
  letter-spacing: 0.3em;
  color: #fff;
  background-color: #1b1e3d;
}

// CREATE                                       SECTION ROW
// ########################################################
.create_row-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
}

.create_row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  min-height: $row-height-md;
  margin-top: $xs;
}

.create_row-label {
  width: 33rem;
  padding-right: $md;
  box-sizing: border-box;
  font-size: $font-xl;
  line-height: $font-xl;
  text-align: right;
  letter-spacing: 0.2em;
  color: #b3b3b3;
}

.create_row-item {
  flex: 1;
}

// CREATE                                        TEXT INPUT
// ########################################################
.create_input {
  display: block;
  width: 100%;
  height: $row-height-md;
  padding-left: $md;
  box-shadow: none;
  -webkit-appearance: none;
  font-size: $font-xl;
  line-height: $font-xl;
  font-weight: $fw-md;
}

.create_input::placeholder {
  color: $adam-sub-heading;
}

.create_input-normal {
  box-sizing: border-box;
  background: transparent;
  // border-top: $border-xxs solid $adam-app-border;
  // border-bottom: $border-xxs solid $adam-app-border;
  // border-left: $border-xxs solid $adam-app-border; // why does this have a border defined
  // border-right: $border-xxs solid $adam-app-border; // and not use primary-border?
  border: $border-xxs solid rgba(255, 255, 255, 0.2);
  border-radius: 0;
  outline: 0;
  //background-color: $adam-input-normal;
}

.create_input-error {
  box-sizing: border-box;
  background: transparent;
  border-top: $border-xxs solid $adam-red;
  border-bottom: $border-xxs solid $adam-red;
  border-left: $border-xxs solid $adam-red;
  border-right: $border-xxs solid $adam-red; //border-radius: 0.1rem 0.1rem 0.1rem 0.1rem;
  outline: 0;
  color: $adam-red;
  background-color: $adam-input-error;
}

.create_input-error::placeholder {
  color: $adam-red;
}

// ## CREATE                                       CHECKBOX
// ########################################################
.create_checkbox {
  position: relative;
}

.create_checkbox:after {
  content: '';
  position: absolute;
  width: $md;
  height: $md;
  margin-top: -0.2rem;
  background-color: $adam-input-normal;
  border: $border-xxs solid $adam-app-border;
}

.create_checkbox:checked:after {
  display: flex;
  justify-content: center;
  align-items: center;
  content: '\002714';
  position: absolute;
  color: $adam-green;
  width: $md;
  height: $md;
  margin-top: -0.2rem;
  font-size: $font-xl;
  background-color: $adam-input-normal;
  border: $border-xxs solid $adam-app-border;
}

// CREATE                                      SELECT INPUT
// ########################################################
.create_select {
  width: 100%;
  height: $row-height-md;
  padding-left: $md;
  box-shadow: none;
  font-size: $font-xl;
  line-height: $font-xl;
  font-weight: $fw-md;
}

.create_select-normal {
  box-sizing: border-box;
  background: transparent;
  // border-top: $border-xxs solid $adam-app-border;
  // border-bottom: $border-xxs solid $adam-app-border;
  // border-left: $border-xxs solid $adam-app-border; // why does this have a border defined
  // border-right: $border-xxs solid $adam-app-border; // and not use primary-border?
  border: $border-xxs solid rgba(255, 255, 255, 0.2);
  border-radius: 0;
  outline: 0;
  // background-color: $adam-input-normal;
}

.create_select-error {
  box-sizing: border-box;
  background: transparent;
  border-top: $border-xxs solid $adam-red;
  border-bottom: $border-xxs solid $adam-red;
  border-left: $border-xxs solid $adam-red;
  border-right: $border-xxs solid $adam-red; //border-radius: 0.1rem 0.1rem 0.1rem 0.1rem;
  outline: 0;
  color: $adam-red;
  background-color: $adam-input-error;
}

.create_select-error::placeholder {
  color: $adam-red;
}

// CREATE                                          TEXTAREA
// ########################################################
.create_textarea {
  display: block;
  width: 100%;
  height: $row-height-md;
  padding-left: $md;
  box-shadow: none;
  -webkit-appearance: none;
  font-size: $font-xl;
  line-height: $font-xl;
  font-weight: $fw-md;
  padding-top: $md;
  box-sizing: border-box;
  height: 16rem;
}

.create_textarea::placeholder {
  color: $adam-sub-heading;
}

.edit_multi {
  padding-top: $md;
  box-sizing: border-box;
  height: 16rem;
}

// CREATE                                             STATE
// ########################################################
.create_empty {
  color: $adam-sub-heading;
}

.create_filled {
  color: #fff;
}

.create_selectList {
  color: $adam-heading;
}

.create_asterisk {
  padding-left: $xxs;
  font-size: $font-xl;
  line-height: $font-xl;
  font-weight: $fw-heading;
  color: $adam-red;
}

.create_required {
  margin-left: 33rem;
  padding-top: $xs;
  padding-left: $xs;
  padding-bottom: $xs;
  font-style: italic;
  font-size: $font-md;
  line-height: $font-xl;
  color: $adam-red;
}

// ## CREATE                                         ERRORS
// ########################################################
#create_error {
  width: 100%;
  padding: $md;
  border-top: $border-xxs solid $adam-red;
  border-bottom: $border-xxs solid $adam-red;
  border-left: $border-xxs solid $adam-red;
  border-right: $border-xxs solid $adam-red;
  border-radius: $border-xxs $border-xxs $border-xxs $border-xxs;
  box-sizing: border-box;
  font-size: $font-md;
  line-height: $font-md;
  color: $adam-red;
  background-color: $adam-input-error;
}

#create_error-header {
  font-weight: $fw-heading;
}

// CREATE                                           BUTTONS
// ########################################################
#create_buttons-container {
  display: flex;
  width: 100%;
  margin-top: $xl;
}

#create_buttons {
  display: flex;
  justify-content: center;
  flex: 1;
  margin-bottom: 64px;
}

#create_button-cancel {
  width: 30rem;
  font-size: $font-xl;
  line-height: $font-xl;
  font-weight: $fw-heading;
  height: 4.8rem;
  text-decoration: none;
  color: #fff;
  background: none;
  border: 1px solid rgba(255, 255, 255, 0.2);
  letter-spacing: 1px;
  padding: 16px;
  padding-left: 65px;
  padding-right: 65px;
  white-space: nowrap;
  margin-right: 32px;
}

#create_button-cancel:hover {
  color: #000;
  background-color: #e5e5e5;
  transition: background-color 100ms ease-in-out;
}

#create_button-submit {
  width: 30rem;
  font-size: $font-xl;
  line-height: $font-xl;
  font-weight: $fw-heading;
  height: 4.8rem;
  text-decoration: none;
  color: #fff;
  background-color: #1b1e3d;
  border: none;
  letter-spacing: 1px;
  padding: 16px;
  padding-left: 65px;
  padding-right: 65px;
  white-space: nowrap;
  margin-left: 32px;
}

#create_button-submit:hover {
  color: #000;
  background-color: #e5e5e5;
  transition: background-color 200ms ease-in-out;
}