.row-margin-xs {
  margin-top: 0.8rem; }

.row-margin-sm {
  margin-top: 1.3rem; }

.row-margin-md {
  margin-top: 2.1rem; }

.row-margin-lg {
  margin-top: 3.4rem; }

.row-margin-xl {
  margin-top: 5.5rem; }

#signin_wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 100vh; }

#signin_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1; }

#signin_heading {
  width: 100%;
  margin-top: 3.2rem;
  margin-bottom: 3.2rem;
  font-family: 'Oxygen', sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.2rem;
  letter-spacing: 1px;
  color: #fff;
  text-align: center; }

.signin_input-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 4.8rem;
  margin-top: 0.8rem; }

.signin_input {
  display: block;
  width: 100%;
  height: 4.8rem;
  padding-left: 1.6rem;
  box-shadow: none;
  -webkit-appearance: none;
  font-size: 1.4rem;
  line-height: 1.4rem;
  font-weight: 400; }

.signin_input::placeholder {
  color: #b3b3b3; }

.signin_empty {
  color: #b3b3b3; }

.signin_filled {
  color: #1A1A1A; }

.signin_input-normal {
  box-sizing: border-box;
  background: transparent;
  border-top: 0.1rem solid #e5e5e5;
  border-bottom: 0.1rem solid #e5e5e5;
  border-left: 0.1rem solid #e5e5e5;
  border-right: 0.1rem solid #e5e5e5;
  border-radius: 0;
  outline: 0;
  background-color: #fafafa; }

.signin_input-error {
  box-sizing: border-box;
  background: transparent;
  border-top: 0.1rem solid #c93c31;
  border-bottom: 0.1rem solid #c93c31;
  border-left: 0.1rem solid #c93c31;
  border-right: 0.1rem solid #c93c31;
  outline: 0;
  color: #c93c31;
  background-color: #f8dee0; }

.signin_error_text {
  padding-top: 0.8rem;
  padding-left: 0.8rem;
  padding-bottom: 0.8rem;
  font-style: italic;
  font-size: 1.2rem;
  line-height: 1.4rem;
  color: #db8f6b; }

#signin_button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 0;
  margin-top: 0.8rem; }

#signin_button {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  padding-top: 1.6rem;
  padding-bottom: 1.6rem;
  color: #fff;
  background-color: #1b1e3d;
  border-width: 1px;
  border-color: rgba(255, 255, 255, 0.2);
  text-align: center;
  letter-spacing: 1px;
  text-decoration: none;
  font-size: 1.4rem;
  line-height: 1.4rem;
  font-weight: 700; }

#signin_button:hover {
  background-color: rgba(255, 255, 255, 0.2); }

#signin_button:active {
  background-color: #1b1e3d; }

#signin_registerLink-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.4rem;
  line-height: 1.4rem; }

.signin_registerLink {
  outline: none;
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  margin-top: 6.4rem;
  font-size: 1.4rem;
  line-height: 1.4rem;
  font-weight: 400;
  color: #fff;
  text-decoration: none; }

.signin_registerLink:hover {
  color: #693e48; }

.signin_registerLink:active {
  color: #1b1e3d; }
