@import "../variables/_colors.scss";
@import "../variables/_sizes.scss";
@import "../mixins/_mixins.scss";

// ## DASHBOARD                                      LAYOUT
// ########################################################

.dash_wrapper {
  width: 100rem;
}

.dash_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 3.4rem;
  padding: $md $md $xl $md;
  box-sizing: border-box;
  background-color: #fff;
  border: 1px solid $adam-app-border;
  border-radius: 0.3rem 0.3rem 0.3rem 0.3rem;
  box-shadow: 0px 1px 1px $adam-app-border;
}

// ## DASHBOARD                             CHART CONTAINER
// ########################################################

.dash_chart-container {
  width: 100%;
  margin-bottom: 4.8rem;
  padding-bottom: $md;
  border-bottom: 1px solid $adam-app-border;
}

.dash_chart-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 1.4rem;
  line-height: 1.4rem;
  color: $adam-heading;
}

// ## DASHBOARD                                     WIDGETS
// ########################################################

.dash_widget-left {
  width: calc(50% - 1.6rem);
  margin-right: $md;
}
.dash_widget-right {
  width: calc(50% - 1.6rem);
  margin-left: $md;
}

.dash_widget-heading {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 600;
  text-transform: uppercase;
}

.dash_widget-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.dash_widget-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: $md;
  font-size: 1.4rem;
  line-height: 1.4rem;
}

.dash_widget-label {
  width: 50%;
  padding-right: $md;
  box-sizing: border-box;
  text-align: right;
  color: $adam-sub-heading;
}

a.dash_link:link {
  font-size: 1.4rem;
  line-height: 1.4rem;
  font-weight: 600;
  color: $adam-red;
  text-decoration: none;
}

a.dash_link:hover {
  color: $adam-heading;
}

a.dash_link:visited {
  color: $adam-red;
}

a.dash_link:active {
  color: $adam-red;
}

.dash_widget-emphasis {
  font-weight: 600;
  color: $adam-heading;
}

.dash_label-normal {
  color: $adam-sub-heading;
}

.dash_label-red {
  color: $adam-red;
}

.dash_label-blue {
  color: $adam-blue;
}

.dash_label-orange {
  color: $adam-orange;
}

.dash_label-green {
  color: $adam-green;
}