@import "../../../../../styles/variables/_colors.scss";
@import "../../../../../styles/variables/_sizes.scss";
@import "../../../../../styles/mixins/_mixins.scss";

// CREATE FORM                                      SUB-NAV
// ########################################################
#create_subnav {
  @include flex(row);
  @include flex-center;
  flex: 0;
  width: 100%;
  margin-top: $nav-height;
  padding-top: $xl;
  padding-right: $md;
  padding-left: $md;
  margin-bottom: -$xxs;
  box-sizing: border-box;
  user-select: none;
  font-size: $font-xl;
  line-height: $font-xl;
  font-weight: $fw-md;
  color: $adam-sub-heading;
}

#create_subnav-title {
  font-size: $font-xl;
  line-height: $font-xl;
  text-align: left;
}

#create_subnav-right-side {
  @include flex(row);
  @include flex-end;
  flex: 1;
}

#create_subnav-right-side span {
  padding-right: $xxs;
  color: $adam-red;
}