@import "../variables/_colors.scss";
@import "../variables/_sizes.scss";
@import "../mixins/_mixins.scss";

// ## AUTH FORM                                      LAYOUT
// ########################################################

#auth_wrapper {
  @include flex(column);
  flex: 1;
  min-height: 100vh;
  // margin-bottom: 4.8rem;
}

#auth_container {
  @include flex(column);
  @include flex-center;
  flex: 1;
  background-color: $adam-app-bg;
}

#auth_form {
  flex: 0;
  width: 48rem;
  padding: $xl;
  box-sizing: border-box;
  background-color: $adam-white;
  border: $border-xxs solid $adam-app-border;
  border-radius: $border-md $border-md $border-md $border-md;
  box-shadow: 0 $border-xxs $border-xxs $adam-app-border;
}

@media screen and (max-width: 1024px) {
  #auth_form {
    width: 100%;
  }
}

.auth_done {
  font-size: 1.6rem;
}

// ## AUTH FORM                                   LOGO AREA
// ########################################################

#auth_logo-container {
  @include flex(column);
  @include flex-center;
}

#auth_logo {
  width: 50%;
  height: auto;
}

#auth_heading {
  width: 100%;
  margin-top: $xl;
  margin-bottom: $xl;
  font-size: $font-xl;
  line-height: $font-auth;
  font-weight: $fw-md;
  color: $adam-heading;
  text-align: center;
}

// ## AUTH FORM                                   LOGO AREA
// ########################################################

.auth_register {
  display: flex;
  //flex: 1;
  justify-content: center;
  align-items: center;
  text-align: center;
  // background-color: blue;
  font-size: 1.4rem;
  line-height: 1.4rem;
}

.auth_register-link {
  outline: none;
  background:none;
  border:none;
  margin: 0;
  padding: 0;
  font-size: 1.4rem;
  line-height: 1.4rem;
  font-weight: 400;
  color: $adam-red;
  text-decoration: none;
}
a.auth_register-link:hover {
  color: $adam-heading;
}
a.auth_register:active {
  color: $adam-red;
}


// ## AUTH FORM                                  ROW HEIGHT
// ########################################################

.row-md {
  @include flex(column);
  width: 100%;
  height: $row-height-md;
  margin-top: $xs;
}


// ## AUTH FORM                                      ERRORS
// ########################################################

.auth_field_error {
  padding-top: $xs;
  padding-left: $xs;
  padding-bottom: $xs;
  font-style: italic;
  font-size: $font-md;
  line-height: $font-xl;
  color: $adam-red;
}