@import "../variables/_colors.scss";
@import "../variables/_sizes.scss";
@import "../mixins/_mixins.scss";

// CREATE & EDIT FORM                                LAYOUT
// ########################################################

.edit_wrapper {
  @include flex(column);
  align-items: center;
  flex: 1;
  min-width: 102.4rem;
  width: 100%;
  max-width: 160rem; }

// CREATE & EDIT FORM                               SUB-NAV
// ########################################################

.edit_subnav {
  @include flex(row);
  @include flex-center;
  flex: 0;
  width: 100rem;
  padding-top: $xl;
  padding-right: $md;
  padding-left: $md;
  margin-bottom: -$xxs;
  box-sizing: border-box;
  user-select: none;
  font-size: $font-xl;
  line-height: $font-xl;
  font-weight: $fw-md;
  color: $adam-sub-heading; }

.edit_subnav-title {
  font-size: $font-xl;
  line-height: $font-xl;
  text-align: left; }

.edit_subnav-right-side {
  @include flex(row);
  @include flex-end;
  flex: 1; }

.edit_subnav-right-side span {
  padding-right: $xxs;
  color: $adam-red; }

// CREATE & EDIT FORM                    SECTION CONTAINERS
// ########################################################

// See _sizes.scss for row-margin sizes

.edit_container {
  flex: 1;
  width: 100rem;
  padding: $md;
  box-sizing: border-box;
  background-color: $adam-white;
  border: $border-xxs solid $adam-app-border;
  border-radius: $border-md $border-md $border-md $border-md;
  box-shadow: 0 $border-xxs $border-xxs $adam-app-border; }

.edit_heading {
  display: flex;
  align-items: center;
  font-size: $font-heading;
  line-height: $font-heading;
  font-weight: $fw-heading;
  color: $adam-red; }

.edit_rowcontainer {
  display: flex;
  flex-direction: column;
}

.edit_row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  min-height: $row-height-md;
  margin-top: $xs; }

.edit_row-label {
  width: 33rem;
  padding-right: $md;
  box-sizing: border-box;
  font-size: $font-xl;
  line-height: $font-xl;
  text-align: right;
  color: #b3b3b3; }

.edit_row-item {
  flex: 1; }



// CREATE & EDIT FORM                            TEXT INPUT
// ########################################################

// Also used on Login Form

.form-text-input {
  display: block;
  width: 100%;
  height: $row-height-md;
  padding-left: $md;
  box-shadow: none;
  -webkit-appearance: none;
  font-size: $font-xl;
  line-height: $font-xl;
  font-weight: $fw-md; }

.form-text-input::placeholder {
  color: $adam-sub-heading; }

// CREATE & EDIT FORM                 MULTI-LINE TEXT INPUT
// ########################################################

.edit_multi {
  padding-top: $md;
  box-sizing: border-box;
  height: 16rem; }

.error::placeholder {
  color: $adam-red; }

// CREATE & EDIT FORM                  SELECT OPTIONS INPUT
// ########################################################

.edit_select {
  width: 100%;
  height: $row-height-md;
  padding-left: $md;
  box-shadow: none;
  font-size: $font-xl;
  line-height: $font-xl;
  font-weight: $fw-md; }

// ## CREATE & EDIT FORM                           CHECKBOX
// ########################################################

.edit_checkbox {
  position: relative; }

.edit_checkbox:after {
  content: '';
  position: absolute;
  width: $md;
  height: $md;
  margin-top: -0.2rem;
  background-color: $adam-input-normal;
  border: $border-xxs solid $adam-app-border; }

.edit_checkbox:checked:after {
  display: flex;
  justify-content: center;
  align-items: center;
  content: '\002714';
  position: absolute;
  color: $adam-green;
  width: $md;
  height: $md;
  margin-top: -0.2rem;
  font-size: $font-xl;
  background-color: $adam-input-normal;
  border: $border-xxs solid $adam-app-border; }

// ## CREATE & EDIT FORM                        GEO SUGGEST
// ########################################################

.geosuggest {}
.geosuggest__input {}

.geosuggest__suggests-wrapper {
  position: absolute;
  margin-left: 0;
}

.geosuggest__suggests {
  padding: 0;
  box-sizing: border-box;
  box-shadow: 0.4rem 0.4rem 0.4rem #e5e5e5;
  background: transparent;
  border-top: 0.1rem solid #e5e5e5;
  border-bottom: 0.1rem solid #e5e5e5;
  border-left: 0.1rem solid #e5e5e5;
  border-right: 0.1rem solid #e5e5e5;
  border-radius: 0;
  outline: 0;
  background-color: #fafafa;
  cursor: pointer;
}

.geosuggest__item {
  list-style-type: none;
  font-size: 1.4rem;
  line-height: 1.4rem;
  padding: 0.8rem 1.6rem 0.8rem 1.6rem;
  margin-left: 0;
}
.geosuggest__item--active {
  background: #3f88c5;
  color: #fff;
}

.geosuggest__suggests--hidden {
  max-height: 0;
  overflow: hidden;
  border-width: 0;
}



// CREATE & EDIT FORM                                 STATE
// ########################################################

.edit_empty {
  color: $adam-sub-heading; }

.edit_filled {
  color: $adam-heading; }

.edit_asterisk {
  padding-left: $xxs;
  font-size: $font-xl;
  line-height: $font-xl;
  font-weight: $fw-heading;
  color: $adam-red; }

.edit_required {
  margin-left: 33rem;
  padding-top: $xs;
  padding-left: $xs;
  padding-bottom: $xs;
  font-style: italic;
  font-size: $font-md;
  line-height: $font-xl;
  color: $adam-red; }

.normal {
  box-sizing: border-box;
  background: transparent;
  border-top: $border-xxs solid $adam-app-border;
  border-bottom: $border-xxs solid $adam-app-border;
  border-left: $border-xxs solid $adam-app-border;                        // why does this have a border defined
  border-right: $border-xxs solid $adam-app-border;                       // and not use primary-border?
  border-radius: 0;
  outline: 0;
  background-color: $adam-input-normal; }

.error {
  box-sizing: border-box;
  background: transparent;
  border-top: $border-xxs solid $adam-red;
  border-bottom: $border-xxs solid $adam-red;
  border-left: $border-xxs solid $adam-red;
  border-right: $border-xxs solid $adam-red;
  //border-radius: 0.1rem 0.1rem 0.1rem 0.1rem;
  outline: 0;
  color: $adam-red;
  background-color: $adam-input-error; }

// CREATE & EDIT FORM                               BUTTONS
// ########################################################

.edit_button-container {
  display: flex;
  width: 100%;
  margin-top: $xl; }

.edit_buttons {
  display: flex;
  justify-content: center;
  flex: 1; }

.edit_button-grey {
  width: 30rem;
  padding-top: $md;
  padding-bottom: $md;
  box-sizing: border-box;
  background-color: $adam-sub-heading;
  border: none;
  color: $adam-white;
  border-radius: $border-xxs $border-xxs $border-xxs $border-xxs;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: $font-xl;
  line-height: $font-xl;
  font-weight: $fw-heading; }

.edit_button-red {
  width: 30rem;
  margin-left: $xl;
  padding-top: $md;
  padding-bottom: $md;
  box-sizing: border-box;
  background-color: $adam-red;
  border: none;
  color: $adam-white;
  border-radius: $border-xxs $border-xxs $border-xxs $border-xxs;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: $font-xl;
  line-height: $font-xl;
  font-weight: $fw-heading; }