
// ## COLOURS
// ########################################################

$adam-black: #000;
$adam-white: #fff;
$adam-red: #dd0426;
$adam-blue: #3f88c5;
$adam-green: #3d9720;
$adam-orange: #f0a202;
$adam-purple: #140f2d;
$adam-dark-purple: #140f2d;

$adam-app-bg: #f0f0f0;
$adam-app-border: #e5e5e5;
$adam-line: #f5f5f5;
$adam-heading: #1A1A1A;
$adam-sub-heading: #b3b3b3;
$adam-input-normal: #fafafa;
$adam-input-error: #f8dee0;
$adam-content: #808080;
$adam-buttons: #999999;
$adam-exp-grey: #808080;

// need to collect RGB colors (ie: on listview)