// ## APP                                           IMPORTS
// ########################################################
@import "styles/normalize/_normalize.scss";
@import "styles/variables/_colors.scss";
@import "styles/variables/_sizes.scss";
@import "styles/mixins/_mixins.scss";
@import "styles/common/animate.scss";
@import "styles/common/common.scss";
@import "styles/common/errors.scss";
@import "styles/common/forms.scss";
@import "styles/dashboard/dashboard.scss";
@import "styles/profile/profile.scss";
// @import "styles/crud/list.scss";
// @import "styles/crud/create.scss";
@import "styles/crud/reacttags.scss";
@import "styles/crud/view.scss";
@import "styles/crud/edit.scss";
// ## APP                                       BASE LAYOUT
// ########################################################
html,
body {
  width: 100%;
  height: 100%;
  font-family: 'Oxygen', sans-serif;
  font-size: 10px;
  letter-spacing: 1px;
  margin: 0;
  padding: 0;
}

// @media screen and (max-width: 1024px) {
//   body {
//     width: 100%;
//   }
// }
#root {
  // background-color: $adam-app-bg;
  background-repeat: no-repeat;
  background-image: url(./components/landing/images/heroBackground.jpg);
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100vh;
}

button {
  font-family: 'Oxygen', sans-serif;
  cursor: pointer;
}

a {
  font-family: 'Oxygen', sans-serif;
  cursor: pointer;
}