@import "../variables/_colors.scss";
@import "../variables/_sizes.scss";
@import "../mixins/_mixins.scss";

// ## REGISTER FORM                                  LAYOUT
// ########################################################

.reg_container {
  @include flex(column);
  @include flex-center;
  flex: 1;
  min-height: 100vh;
}

#register_container {
  @include flex(column);
  @include flex-center;
  flex: 1;
  background-color: $adam-app-bg;
}

.reg_form {
  flex: 0;
  width: 48rem;
  padding: $xl;
  box-sizing: border-box;
  background-color: $adam-white;
  border: $border-xxs solid $adam-app-border;
  border-radius: $border-md $border-md $border-md $border-md;
  box-shadow: 0 $border-xxs $border-xxs $adam-app-border;
}

@media screen and (max-width: 1024px) {
  .reg_form {
    width: 100%;
  }
}

// ## REGISTER FORM                               LOGO AREA
// ########################################################

#register_logo-container {
  @include flex(column);
  @include flex-center;
}

#register_logo {
  width: 50%;
  height: auto;
}

#register_heading {
  width: 100%;
  margin-top: $xl;
  margin-bottom: $xl;
  font-size: $font-xl;
  line-height: $font-auth;
  font-weight: $fw-md;
  color: $adam-heading;
  text-align: center;
}

// ## REGISTER FORM                               LOGO AREA
// ########################################################

#reg_heading {
  font-size: 1.6rem;
  text-align: center;
  padding-bottom: 3.2rem;
  padding-top: 3.2rem;
}

.register_register {
  display: flex;
  //flex: 1;
  justify-content: center;
  align-items: center;
  text-align: center;
  // background-color: blue;
  font-size: 1.4rem;
  line-height: 1.4rem;
}

.register_register-link {
  outline: none; // these 5 styles need to be on every button (mixin)
  background:none;
  border:none;
  margin: 0;
  padding: 0;
  font-size: 1.4rem;
  line-height: 1.4rem;
  font-weight: 400;
  color: $adam-red;
  text-decoration: none;
}
a.register_register-link:hover {
  color: $adam-heading;
}
a.register_register:active {
  color: $adam-red;
}



// ## REGISTER FORM                              ROW HEIGHT
// ########################################################

.row-md {
  @include flex(column);
  width: 100%;
  height: $row-height-md;
  margin-top: $xs;
}


// ## REGISTER FORM                                  ERRORS
// ########################################################

.register_field_error {
  padding-top: $xs;
  padding-left: $xs;
  padding-bottom: $xs;
  font-style: italic;
  font-size: $font-md;
  line-height: $font-xl;
  color: $adam-red;
}