.row-margin-xs {
  margin-top: 0.8rem; }

.row-margin-sm {
  margin-top: 1.3rem; }

.row-margin-md {
  margin-top: 2.1rem; }

.row-margin-lg {
  margin-top: 3.4rem; }

.row-margin-xl {
  margin-top: 5.5rem; }

.nav {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 10rem;
  user-select: none;
  z-index: 1;
  padding-top: 1.6rem;
  padding-bottom: 1.6rem; }

div.isScrolling {
  background-color: #1b1e3d;
  transition: background-color 250ms ease-in-out;
  box-shadow: -8px 14px 40px 0px rgba(0, 0, 0, 0.5); }

#nav:before {
  content: '';
  position: absolute;
  z-index: 2; }

#nav_elements {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex: 1; }

#nav_left-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 30.4rem;
  padding-left: 3.2rem; }

#nav_left_user-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; }

#nav_left_user_leftSide {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; }

#nav_left_user-avatar {
  width: 75px;
  height: 75px;
  border: 2px solid #1b1e3d;
  box-shadow: -8px 14px 40px 0px rgba(0, 0, 0, 0.5);
  border-radius: 50%; }

#nav_left_user-level {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  right: 0;
  bottom: 0;
  height: 30px;
  width: 30px;
  font-size: 1.4rem;
  line-height: 1.4rem;
  font-weight: 700;
  color: #fff;
  background-color: #000;
  border: 2px solid #4b53aa;
  border-radius: 50%; }

#nav_left_user_rightSide {
  display: flex;
  flex-direction: column;
  padding-left: 1.6rem; }

#nav_left_user-name {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  line-height: 1.4rem;
  font-weight: 700;
  letter-spacing: 0.3rem;
  color: #fff;
  background: linear-gradient(180deg, #4b53aa 13%, #1b1e3d 57%);
  border-radius: 5px;
  padding: 4px;
  padding-left: 64px;
  padding-right: 64px; }

#nav_left_user-xpFill {
  position: relative;
  height: 22px;
  background-color: #000;
  border: 1px solid #999;
  border-radius: 5px; }

#nav_left_user-xp {
  position: absolute;
  top: 0;
  left: 0;
  height: calc(100% - 1px);
  background: linear-gradient(180deg, #4b53aa 13%, #1b1e3d 57%);
  border-radius: 4px; }

#nav_left_user-xpNum {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  line-height: 1.4rem;
  white-space: nowrap;
  padding: 4px; }

#nav_left_user-xpNumerator {
  color: white; }

#nav_left_user-xpDenominator {
  color: #b3b3b3;
  font-weight: 700; }

#nav_menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex: 1; }

.nav_menu-item {
  position: relative;
  outline: none;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: 1.4rem;
  line-height: 1.4rem;
  letter-spacing: 0.3rem; }

.nav_menu-spacer {
  margin-left: 1.6rem;
  margin-right: 1.6rem;
  color: #b3b3b3; }

a.nav_link:link {
  font-weight: 700;
  color: #fff;
  text-decoration: none; }

a.nav_link:visited {
  color: #fff; }

a.nav_link:hover {
  color: #db8f6b; }

a.nav_link:active {
  color: #db8f6b; }

a.nav_link-active {
  margin-top: 3.3rem; }

a.nav_link-active:visited {
  color: #fff; }

a.nav_link-active:after {
  content: '';
  margin-top: 2.9rem;
  height: 0.4rem;
  background: #1b1e3d;
  margin-left: -1.6rem;
  display: block; }

a.nav_link-active::after {
  content: '';
  margin-top: 2.9rem;
  height: 0.4rem;
  background: #1b1e3d;
  margin-right: -1.6rem;
  display: block; }

a.nav_link-active.isScrolling:after {
  content: '';
  margin-top: 2.9rem;
  height: 0.4rem;
  background: #fff;
  margin-left: -1.6rem;
  display: block; }

a.nav_link-active.isScrolling::after {
  content: '';
  margin-top: 2.9rem;
  height: 0.4rem;
  background: #fff;
  margin-right: -1.6rem;
  display: block; }

#nav_user {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 30.4rem;
  padding-right: 3.2rem; }

.nav_user-item {
  position: relative;
  outline: none;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: 1.4rem;
  line-height: 1.4rem;
  letter-spacing: 0.3rem; }

#nav_user-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0 16px 0 16px; }

.nav_user-signout {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  height: 2rem;
  white-space: nowrap; }

.nav_user-signout > img {
  filter: invert(1);
  margin-top: -4px; }
