@import "../../styles/variables/_colors.scss";
@import "../../styles/variables/_sizes.scss";
@import "../../styles/mixins/_mixins.scss";

// ## NAV                                            LAYOUT
// ########################################################
$nav-side-containers: 30.4rem;
$nav-side-padding: 3.2rem;
$nav-item-height: 3.2rem;
$nav-spacer-margin: 1.6rem;

.nav {
	position: fixed;
	top: 0;
	left: 0;
	@include flex(row);
	@include flex-center;
	width: 100%;
	height: $nav-height;
	user-select: none;
	z-index: 1;
	padding-top: 1.6rem;
	padding-bottom: 1.6rem;
}

// Press CTRL+F for isScrolling
div.isScrolling {
	background-color: #1b1e3d;
	transition: background-color 250ms ease-in-out;
	box-shadow: -8px 14px 40px 0px rgba(0, 0, 0, 0.5);
}

#nav:before {
	content: '';
	position: absolute;
	z-index: 2;
}

#nav_elements {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	@include flex(row);
	flex: 1;
}

// ## NAV                                         LEFT SIDE
// ########################################################
#nav_left-container {
	@include flex(row);
	@include flex-start;
	width: $nav-side-containers;
	padding-left: $nav-side-padding;
}

// GAMIFIED USER DETAILS
#nav_left_user-container {
	@include flex(row);
	@include flex-center;
}

#nav_left_user_leftSide {
	position: relative;
	@include flex(row);
	@include flex-center;
}

#nav_left_user-avatar {
	width: 75px;
	height: 75px;
	border: 2px solid #1b1e3d;
	box-shadow: -8px 14px 40px 0px rgba(0, 0, 0, 0.5);
	border-radius: 50%;
}

#nav_left_user-level {
	position: absolute;
	@include flex(row);
	@include flex-center;
	right: 0;
	bottom: 0;
	height: 30px;
	width: 30px;
	font-size: 1.4rem;
	line-height: 1.4rem;
	font-weight: 700;
	color: #fff;
	background-color: #000;
	border: 2px solid #4b53aa;
	border-radius: 50%;
}

#nav_left_user_rightSide {
	@include flex(column);
	padding-left: 1.6rem;
}

#nav_left_user-name {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.4rem;
	line-height: 1.4rem;
	font-weight: 700;
	letter-spacing: 0.3rem;
	color: #fff;
	background: linear-gradient(180deg, #4b53aa 13%, #1b1e3d 57%);
	border-radius: 5px;
	padding: 4px;
	padding-left: 64px;
	padding-right: 64px;
}

#nav_left_user-xpFill {
	position: relative;
	height: 22px;
	background-color: #000;
	border: 1px solid #999;
	border-radius: 5px;
}

#nav_left_user-xp {
	position: absolute;
	top: 0;
	left: 0;
	height: calc(100% - 1px);
	background: linear-gradient(180deg, #4b53aa 13%, #1b1e3d 57%);
	border-radius: 4px;
}

#nav_left_user-xpNum {
	@include flex(row);
	@include flex-center;
	font-size: 1.4rem;
	line-height: 1.4rem;
	white-space: nowrap;
	padding: 4px;
}

#nav_left_user-xpNumerator {
	color: white;
}

#nav_left_user-xpDenominator {
	color: $adam-sub-heading;
	font-weight: 700;
}

// ## NAV                                            CENTER
// ########################################################
#nav_menu {
	@include flex(row);
	@include flex-center;
	flex: 1;
}

.nav_menu-item {
	position: relative;
	outline: none;
	height: 100%;
	@include flex(row);
	@include flex-start;
	font-size: 1.4rem;
	line-height: 1.4rem;
	letter-spacing: 0.3rem;
}

.nav_menu-spacer {
	margin-left: $nav-spacer-margin;
	margin-right: $nav-spacer-margin;
	color: $adam-sub-heading;
}

a.nav_link:link {
	font-weight: $fw-heading;
	color: #fff;
	text-decoration: none;
}

a.nav_link:visited {
	color: #fff;
}

a.nav_link:hover {
	color: #db8f6b;
}

a.nav_link:active {
	color: #db8f6b;
}

a.nav_link-active {
	margin-top: 3.3rem;
}

a.nav_link-active:visited {
	color: #fff;
}

a.nav_link-active:after {
	content: '';
	margin-top: 2.9rem; // margin and height should
	height: 0.4rem; // add up to active link margin
	background: #1b1e3d;
	margin-left: -$nav-spacer-margin;
	display: block;
}

a.nav_link-active::after {
	content: '';
	margin-top: 2.9rem; // margin and height should
	height: 0.4rem; // add up to active link margin
	background: #1b1e3d;
	margin-right: -$nav-spacer-margin;
	display: block;
}

a.nav_link-active.isScrolling:after {
	content: '';
	margin-top: 2.9rem; // margin and height should
	height: 0.4rem; // add up to active link margin
	background: #fff;
	margin-left: -$nav-spacer-margin;
	display: block;
}

a.nav_link-active.isScrolling::after {
	content: '';
	margin-top: 2.9rem; // margin and height should
	height: 0.4rem; // add up to active link margin
	background: #fff;
	margin-right: -$nav-spacer-margin;
	display: block;
}

// ## NAV                                        RIGHT SIDE
// ########################################################
#nav_user {
	@include flex(row);
	@include flex-end;
	width: $nav-side-containers;
	padding-right: $nav-side-padding;
}

.nav_user-item {
	position: relative;
	outline: none;
	height: 100%;
	@include flex(row);
	@include flex-start;
	font-size: 1.4rem;
	line-height: 1.4rem;
	letter-spacing: 0.3rem;
}

#nav_user-avatar {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	margin: 0 16px 0 16px;
}

.nav_user-signout {
	@include flex(row);
	@include flex-center;
	font-size: $font-heading;
	height: $font-heading;
	white-space: nowrap;
}

.nav_user-signout > img {
	filter: invert(1);
	margin-top: -4px;
}