@import "../variables/_colors.scss";
@import "../variables/_sizes.scss";
@import "../mixins/_mixins.scss";

// ## PROFILE                                        LAYOUT
// ########################################################

#profile_wrapper {
  @include flex(column);
  flex: 1;
  min-height: 100vh; // margin-bottom: 4.8rem;
}

#profile_container {
  @include flex(column);
  @include flex-center;
  flex: 1;
  background-color: $adam-app-bg;
}

#profile_form {
  flex: 0;
  width: 48rem;
  padding: $xl;
  box-sizing: border-box;
  background-color: $adam-white;
  border: $border-xxs solid $adam-app-border;
  border-radius: $border-md $border-md $border-md $border-md;
  box-shadow: 0 $border-xxs $border-xxs $adam-app-border;
}

// ## PROFILE                                PERSON DETAILS
// ########################################################

#profile_pic-container {
  @include flex(column);
  @include flex-center;
}

#profile_pic {
  width: 50%;
  height: auto;
  border-radius: 50%;
}

#profile_name {
  @include flex(column);
  @include flex-center;
  padding: $xl;
  font-size: 2.2rem;
  line-height: 2.2rem;
  font-weight: 700;
}